In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#preproces data
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [8]:
# making gender from male female to 0&1
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [11]:
# One-Hot encoder 'geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns =onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [12]:
# combien one hot encoded columns with original data
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [13]:
# split the data into features and target
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [14]:
# splitting the data in training and testing
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

In [15]:
# scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
# Save THE ENCODER AND SCALER
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN WITH REGRESSION PROBLEM STATEMENT

In [18]:
import tensorflow as tf
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense

In [19]:
# building our model
model = Sequential([
    Dense(64,activation = 'relu', input_shape=(X_train.shape[1],)), 
    Dense(32,activation='relu'), 
    Dense(1)  #(outpu_layer) here the default activation fuction is LInear activation func 
])

# compile model
model.compile(optimizer='adam', loss='mean_absolute_error',metrics =['mae'])


model.summary()

WARNING:tensorflow:From c:\Users\Admin\Desktop\ANN_BANK\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Admin\Desktop\ANN_BANK\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
## SET up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [22]:
# set up Early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [23]:
## training the model

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Admin\Desktop\ANN_BANK\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Admin\Desktop\ANN_BANK\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 1ms/step - loss: 100360.8750 - mae: 100360.8750 - val_loss: 98455.4922 - val_mae: 98455.4922
Epoch 2/100
250/250 [==============================] - 0s 802us/step - loss: 99425.4297 - mae: 99425.4297 - val_loss: 96596.2578 - val_mae: 96596.2578
Epoch 3/100
250/250 [==============================] - 0s 864us/step - loss: 96230.2734 - mae: 96230.2734 - val_loss: 91956.6406 - val_mae: 91956.6406
Epoch 4/100
250/250 [==============================] - 0s 855us/step - loss: 90102.7031 - mae: 90102.7031 - val_loss: 84462.5547 - val_mae: 84462.5547
Epoch 5/100
250/250 [==============================] - 0s 808us/step - loss: 81410.3125 - mae: 81410.3125 - val_loss: 75050.5781 - val_mae: 75050.5781
Epoch 6/100
250/250 [==============================] - 0s 794us/step - loss: 71606.3906 - mae: 71606.3906 - val_loss: 65839.9844 - val_mae: 65839.9844
Epoch 7/100
250/250 [==============================] - 0s 795us/step - loss: 62714.1211 - mae: 62714.1211 - val_loss: 58518.3828 - val_mae: 58518.3828
Epoch 8/100
250/250 [==============================] - 0s 821us/step - loss: 56340.8477 - mae: 56340.8477 - val_loss: 53929.4258 - val_mae: 53929.4258
Epoch 9/100
250/250 [==============================] - 0s 807us/step - loss: 52758.4297 - mae: 52758.4297 - val_loss: 51788.5078 - val_mae: 51788.5078
Epoch 10/100
250/250 [==============================] - 0s 805us/step - loss: 51197.5938 - mae: 51197.5938 - val_loss: 51080.9844 - val_mae: 51080.9844
Epoch 11/100
250/250 [==============================] - 0s 852us/step - loss: 50619.3242 - mae: 50619.3242 - val_loss: 50824.8672 - val_mae: 50824.8672
Epoch 12/100
250/250 [==============================] - 0s 805us/step - loss: 50382.0586 - mae: 50382.0586 - val_loss: 50731.1992 - val_mae: 50731.1992
Epoch 13/100
250/250 [==============================] - 0s 809us/step - loss: 50279.2695 - mae: 50279.2695 - val_loss: 50673.5625 - val_mae: 50673.5625
Epoch 14/100
250/250 [==============================] - 0s 795us/step - loss: 50203.7656 - mae: 50203.7656 - val_loss: 50619.6680 - val_mae: 50619.6680
Epoch 15/100
250/250 [==============================] - 0s 800us/step - loss: 50143.3633 - mae: 50143.3633 - val_loss: 50579.0156 - val_mae: 50579.0156
Epoch 16/100
250/250 [==============================] - 0s 824us/step - loss: 50091.2812 - mae: 50091.2812 - val_loss: 50536.3008 - val_mae: 50536.3008
Epoch 17/100
250/250 [==============================] - 0s 801us/step - loss: 50047.4883 - mae: 50047.4883 - val_loss: 50505.2227 - val_mae: 50505.2227
Epoch 18/100
250/250 [==============================] - 0s 809us/step - loss: 50002.0938 - mae: 50002.0938 - val_loss: 50463.3555 - val_mae: 50463.3555
Epoch 19/100
250/250 [==============================] - 0s 803us/step - loss: 49968.8789 - mae: 49968.8789 - val_loss: 50440.3633 - val_mae: 50440.3633
Epoch 20/100
250/250 [==============================] - 0s 790us/step - loss: 49931.8125 - mae: 49931.8125 - val_loss: 50424.4531 - val_mae: 50424.4531
Epoch 21/100
250/250 [==============================] - 0s 822us/step - loss: 49899.5625 - mae: 49899.5625 - val_loss: 50400.3711 - val_mae: 50400.3711
Epoch 22/100
250/250 [==============================] - 0s 790us/step - loss: 49871.7461 - mae: 49871.7461 - val_loss: 50381.7930 - val_mae: 50381.7930
Epoch 23/100
250/250 [==============================] - 0s 799us/step - loss: 49840.7383 - mae: 49840.7383 - val_loss: 50363.8711 - val_mae: 50363.8711
Epoch 24/100
250/250 [==============================] - 0s 795us/step - loss: 49819.6758 - mae: 49819.6758 - val_loss: 50347.3242 - val_mae: 50347.3242
Epoch 25/100
250/250 [==============================] - 0s 801us/step - loss: 49793.8047 - mae: 49793.8047 - val_loss: 50336.4258 - val_mae: 50336.4258
Epoch 26/100
250/250 [==============================] - 0s 795us/step - loss: 49772.6602 - mae: 49772.6602 - val_loss: 50323.6484 - val_mae: 50323.6484
Epoch 27/100
250/250 [==============================] - 0s 804us/step - loss: 49751.2969 - mae: 49751.2969 - val_loss: 50302.4141 - val_mae: 50302.4141
Epoch 28/100
250/250 [==============================] - 0s 792us/step - loss: 49729.7461 - mae: 49729.7461 - val_loss: 50292.5234 - val_mae: 50292.5234
Epoch 29/100
250/250 [==============================] - 0s 796us/step - loss: 49709.0703 - mae: 49709.0703 - val_loss: 50293.6602 - val_mae: 50293.6602
Epoch 30/100
250/250 [==============================] - 0s 781us/step - loss: 49693.9609 - mae: 49693.9609 - val_loss: 50281.0469 - val_mae: 50281.0469
Epoch 31/100
250/250 [==============================] - 0s 800us/step - loss: 49678.3984 - mae: 49678.3984 - val_loss: 50268.8398 - val_mae: 50268.8398
Epoch 32/100
250/250 [==============================] - 0s 823us/step - loss: 49658.7305 - mae: 49658.7305 - val_loss: 50262.5234 - val_mae: 50262.5234
Epoch 33/100
250/250 [==============================] - 0s 804us/step - loss: 49645.3945 - mae: 49645.3945 - val_loss: 50255.1445 - val_mae: 50255.1445
Epoch 34/100
250/250 [==============================] - 0s 794us/step - loss: 49629.4102 - mae: 49629.4102 - val_loss: 50250.4414 - val_mae: 50250.4414
Epoch 35/100
250/250 [==============================] - 0s 810us/step - loss: 49616.4375 - mae: 49616.4375 - val_loss: 50244.7422 - val_mae: 50244.7422
Epoch 36/100
250/250 [==============================] - 0s 798us/step - loss: 49603.3164 - mae: 49603.3164 - val_loss: 50252.5508 - val_mae: 50252.5508
Epoch 37/100
250/250 [==============================] - 0s 808us/step - loss: 49594.8203 - mae: 49594.8203 - val_loss: 50247.5195 - val_mae: 50247.5195
Epoch 38/100
250/250 [==============================] - 0s 838us/step - loss: 49580.1094 - mae: 49580.1094 - val_loss: 50246.9766 - val_mae: 50246.9766
Epoch 39/100
250/250 [==============================] - 0s 800us/step - loss: 49565.8906 - mae: 49565.8906 - val_loss: 50236.3242 - val_mae: 50236.3242
Epoch 40/100
250/250 [==============================] - 0s 793us/step - loss: 49558.4336 - mae: 49558.4336 - val_loss: 50230.4883 - val_mae: 50230.4883
Epoch 41/100
250/250 [==============================] - 0s 808us/step - loss: 49544.8867 - mae: 49544.8867 - val_loss: 50244.6953 - val_mae: 50244.6953
Epoch 42/100
250/250 [==============================] - 0s 803us/step - loss: 49537.7305 - mae: 49537.7305 - val_loss: 50243.9062 - val_mae: 50243.9062
Epoch 43/100
250/250 [==============================] - 0s 799us/step - loss: 49527.0117 - mae: 49527.0117 - val_loss: 50247.2695 - val_mae: 50247.2695
Epoch 44/100
250/250 [==============================] - 0s 781us/step - loss: 49517.1680 - mae: 49517.1680 - val_loss: 50249.0039 - val_mae: 50249.0039
Epoch 45/100
250/250 [==============================] - 0s 796us/step - loss: 49509.0703 - mae: 49509.0703 - val_loss: 50251.8750 - val_mae: 50251.8750
Epoch 46/100
250/250 [==============================] - 0s 782us/step - loss: 49499.7422 - mae: 49499.7422 - val_loss: 50250.0000 - val_mae: 50250.0000
Epoch 47/100
250/250 [==============================] - 0s 783us/step - loss: 49494.8359 - mae: 49494.8359 - val_loss: 50253.8984 - val_mae: 50253.8984
Epoch 48/100
250/250 [==============================] - 0s 796us/step - loss: 49484.5273 - mae: 49484.5273 - val_loss: 50244.5977 - val_mae: 50244.5977
Epoch 49/100
250/250 [==============================] - 0s 789us/step - loss: 49477.3711 - mae: 49477.3711 - val_loss: 50248.3711 - val_mae: 50248.3711
Epoch 50/100
250/250 [==============================] - 0s 835us/step - loss: 49471.9805 - mae: 49471.9805 - val_loss: 50250.8477 - val_mae: 50250.8477

In [24]:
# load Tensorboard Extention
%load_ext tensorboard

In [26]:
%tensorboard --logdir regressionlogs/fit20260207-015914

Reusing TensorBoard on port 6006 (pid 2844), started 0:00:36 ago. (Use '!kill 2844' to kill it.)

In [27]:
# evaluate
test_loss, test_mae = model.evaluate(X_test,y_test)
print(f" my test mae: {test_mae}")

63/63 [==============================] - 0s 484us/step - loss: 50230.4883 - mae: 50230.4883
 my test mae: 50230.48828125

In [28]:
model.save('regression_model.h5')

c:\Users\Admin\Desktop\ANN_BANK\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(